p{
  font-weight: bold;
  font-size: 100px;
}

*{
  margin: 0;
}
header,footer,main{
  border: 2px dotted green;
  background-color: aquamarine;
}
header nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display:flex;
  justify-content: space-between;
  align-items: center;
}
ul li{
  padding-left:100px;
  padding-right: 20px;
  list-style-type: none;
}
a{
  text-decoration: none;
}
.head{
  border:2px dotted red;
  font-weight: bold;
  font-size: 30px;
  /* display: block; */
}
main{
  margin-top: 10px;
  margin-bottom: 0px;
  height:auto;
}
main div{
display:flex;
justify-content: center;
align-items: center;
}
main div.gridBox{
  display:grid;
  grid-template-columns: repeat(3, 2fr);
  row-gap: 40px;
  column-gap: 20px;
}
footer{
  display:flex;
  justify-content: center;
  align-items: center;
  bottom:0;
  position:fixed;
  height:100px;
  width:100%;
  background-color: aqua;
}
.gridBox div{
  border:2px dotted red;
  background-color: greenyellow;
}
ul li{
  border :2px dotted red;
}
.heading.show{
  display:block
}
.heading{
  display:none
}
.content.show{
  display:block;
  background-color: gray;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.content{
  display:none
}

.Welcome{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 50px;
}





.cont{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  border-radius: 5px;
  border: 2px solid red;
  padding:20px;
}